 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>
                      Hi, Nama saya Muhammad Muhajir. <br>
                      Seorang Pelajar SMA di Serambi Mekkah, Aceh. Selain itu saya juga terterik dengan dunia IT ; Linux, Web Development, Game Development, dan lain lain.
                    </p>
                </div>
                <div class="col-lg-4">
                  <p>
                    Website ini saya dedikasikan sebagai portofolio , dokumentasi, dan blog pribadi saya.
                  </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center page-scroll">
                    <a href="#contact" class="btn btn-lg btn-outline">
                        <i class="fa fa-envelope"></i> Contact Me
                    </a>
                </div>
            </div>
        </div>
    </section>
