<!-- Portfolio Modals -->

    <div class="portfolio-modal modal fade" id="portfolioModal-1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Pandawa Adventure</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/bello.jpg" class="img-responsive img-centered" alt="image-alt">
                            <p></p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://pandawaadventure.com">Pandawa Adventure Team</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a >April 2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a >Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="portfolioModal-2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Coming Soon</h2>
                            <hr class="star-primary">
                            <img src="img/fossframe.png" class="img-responsive img-centered" alt="image-alt">
                            <p>Contact Me</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="">You</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a >Soon</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a >Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="portfolioModal-3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>coming Soon</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/circus.png" class="img-responsive img-centered" alt="image-alt">
                            <p></p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="">You</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a >Soon</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a >Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="portfolioModal-6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Coming Soon</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/submarine.png" class="img-responsive img-centered" alt="image-alt">
                            <p>Coming Soon Olalalkfa lorem ipsum kampret anjeng</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="">PandawaAdventure.com</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a >Agustus 2015</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a >Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="portfolioModal-4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Coming Soon</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/game.png" class="img-responsive img-centered" alt="image-alt">
                            <p></p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="">You</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a >Soon</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a >Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="portfolioModal-5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Coming Soon</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/cabin.png" class="img-responsive img-centered" alt="image-alt">
                            <p></p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="">You</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a >Soon</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a >Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
